div {
    background-color: aqua;
    margin: 100px 0px 0px 0px;
}

h1 {
    color: rgb(107, 107, 255);
    text-align: center;
    font-size: 50px;
    margin: 100px 0px 0px 0px;
}

form {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

body {
    margin: 0;
    background-color: rgb(121, 142, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    align-content: space-around;
}

input {
    text-align: center;
}